#lr-frame-container {width:100%; max-width:820px; padding:0; margin: 10px auto 0; border:1px solid #ccc; border-radius:2px;}
.lr-frame-closer {text-align:right;}
#request-container {overflow:hidden;}
#secondary-request {float:right;background: #fff;padding: 8px; margin-top: 4px;}
#req-newwin {float:left;}
#reqframe-closer {overflow:hidden;}
#request-scroll {position:relative; z-index:200;  right:20px; text-align:right; width:100%;  background:#fff; border:1px none #ccc;}
#request-frame {max-width:800px; position:relative;}
.lr-req {margin:0 auto -90px auto; top:-90px;}
.lr-eres {margin:0 auto; top:0px;}
#request {float:left;}
#secondaryLinks {float:right; border:1px solid #ccc;}
#secondaryLinksToggle {background:#fff; border:none; cursor:pointer; float:right;}
/* animations */
#secondary-request {
    -webkit-animation: myfirst .2s;  /* Chrome, Safari, Opera */
    animation: myfirst .1s;
}
#secondary-request li {
    -webkit-animation: myfirst .2s;  
}
#secondary-request li a {
    -webkit-animation: myfirst .2s;
    -webkit-animation: color .3s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    0%   {height:0;}
  
        100% {height:auto;}
}
@-webkit-keyframes color {
    
    0% {color:#fff;}
    60% {color:#fff;}
    100% {color:initial;}
}
#sendframe {
    -webkit-animation: myfirst .2s;

